html,
body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: white;
    font-family: Tahoma, Sans-Serif;
    font-size: 10pt;
    height: 100%;
}

#map_container {
    color: black
}

#planes_table {
    background-color: black;
    cursor: pointer;
}

#liveatc_button {
    color: white;
}

#metar_button {
    color: white;
}

#radar_button {
    color: white;
}

#radar_flight_tab_button {
    color: white;
}

#radar_aircraft_tab_button {
    color: white;
}

#radar_radar_tab_button {
    color: white;
}

#vol_down_button {
    background-color: white;
}

#power_button {
    background-color: white;
}

#vol_up_button {
    background-color: white;
}

#home_button {
    background-color: white;
}

#internet_mode_button {
    background-color: white;
}

#cesium_button {
    background-color: white;
}

#power_modal > .modal-content {
    width: 50%;
    height: 30%;
    top: 25%;
    left: 25%;  
    position: absolute;
    text-align: center;
    line-height: 45px;
    font-size: 18px;
    background-color: #000;
}

#power_table {
    width: 100%;

}

#power_table > tbody > tr:nth-child(1) > td:nth-child(1) > button {
    background-color: white;
}
#power_table > tbody > tr:nth-child(1) > td:nth-child(2) > button {
    background-color: white;
}

#power_table > tbody > tr:nth-child(1) > td:nth-child(3) > button {
    background-color: white;
}

div.atc_state {
    background-color: black;
    height: 20px;
    border: 2px solid white;
    padding: 4px;
    margin: 4px;
}

#branch_button {
    background-color: white;
}

div#nav_bar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    border-bottom: 2px solid white;
    padding: 5px;
    z-index: 1;
    background: black;
    color: white;
}


div#itinerary_body {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 100%;
}

img#aircraft_image {
    max-width: 100%;
    height: auto;
}

div#map_container {
    position: fixed;
    top: 50px;
    width: 100%;
    height: 100%;
}


.subtab_button {
    width: 25%;
}

div#graphs_body {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 100%;
}

div#graphs_body {
    overflow: hidden;
}

img.graphs {
    width: 80%;
    height: 70%;
    position: relative;
    top: 5%;
    left: 10%;
}

img.graphs_s {
    width: 80%;
    height: 40%;
    position: relative;
    left: 10%;
    top: 30%
}

#arrow_back_graphs {
    position: absolute;
    left: 10px;
    top: 40%;
}

#arrow_forward_graphs {
    position: absolute;
    right: 10px;
    top: 40%;
}

html::-webkit-scrollbar {
    display: none;
}

img#message_rate img#cpu_usage {
    width: 50%
}

div#subtab_buttons>button {
    width: 100px;
    margin-left: 20px;
}

div#subtab_buttons {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 5px;
    z-index: 1;
    background: black;
}

div#map_canvas {
    margin-right: 390px;
    height: 100%;
}

div#sidebar_container {
    position: absolute;
    right: 0px;
    top: 50px;
    width: 390px;
    height: 90%;
}

#nav_bar.divider {
    width: 25px;
}

.pointer {
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.space {
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: auto;
    width: fit-content;
    display: inline-block;
}

#planes_table > tr > td {
    border-bottom: solid white .5px;
    text-align: center;
}

.space-nopad {
    margin: auto;
    width: fit-content;
    display: inline-block;
}

.center {
    display: table-cell;
    vertical-align: middle;
}

#radar_aircraft_tab {
    line-height: 17px;
}

#img_button {
    position: fixed;
    right: 10%;
    bottom: 50px;
}

#aircraft_button {
    position: fixed;
    right: 14%;
    bottom: 49px;
}

#info_button {
    position: absolute;
    right: 10px;
    bottom: 5px
}

#info_icon {
    position: absolute;
    right: 10px;
    bottom: 5px
}

div#SpecialSquawkWarning {
    position: absolute;
    bottom: 25px;
    right: 430px;
    border: 2px solid red;
    background-color: #FFFFA3;
    opacity: 0.75;
    filter: alpha(opacity=75);
    padding: 5px;
    text-align: center;
}

div#update_error {
    position: absolute;
    bottom: 25px;
    left: 25px;
    border: 2px solid red;
    background-color: #FFFFA3;
    opacity: 0.75;
    filter: alpha(opacity=75);
    padding: 5px;
    text-align: center;
}

div#loader {
    z-index: 99;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 1;
    filter: alpha(opacity=100);
}

#spinny {
    width: 128px;
    height: 128px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -64px 0 0 -64px;
}

#loader_progress {
    width: 250px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 128px 0 0 -125px;
}

#tableinfo,
#sudo_buttons {
    font-size: x-small;
    font-family: monospace;
}

.vPosition {
    font-weight: bold;
    background-color: #d5ffd5;
}

.mlat {
    font-weight: bold;
    background-color: #d5d5ff;
}

.squawk7500 {
    font-weight: bold;
    background-color: #ff5555;
}

.squawk7600 {
    font-weight: bold;
    background-color: #00ffff;
}

.squawk7700 {
    font-weight: bold;
    background-color: #ffff00;
}

.selected {
    background-color: #dddddd;
}

.plane_table_row {
    cursor: pointer;
    border: white;
    background-color: black;
}

.hidden {
    display: none;
}

.infoblock_heading {
    font-size: larger;
}

.infoblock_heading a {
    text-decoration: none;
    color: blue;
    font-size: x-small;
}

.infoblock_body {
    font-size: medium;
}

#selected_icao {
    font-size: x-small;
}

#selected_registration {
    font-size: x-small;
}

#selected_icaotype {
    font-size: x-small;
}

.dim {
    opacity: 0.3;
    filter: alpha(opacity=30);
    /* For IE8 and earlier */
}

.pointer {
    cursor: pointer;
}

td#icao {
    font-size: medium;
}

td#flag {
    font-size: medium;
}

td#flight {
    font-size: medium;
}

td#squawk {
    font-size: medium;
}

td#altitude {
    font-size: medium;
}

td#speed {
    font-size: medium;
}

td#distance {
    font-size: medium;
}

td#track {
    font-size: medium;
}

td#msgs {
    font-size: medium;
}

td#seen {
    font-size: medium;
}

#modal2_title {
    font-size: 30px;
    text-decoration: bold;
    line-height: 40px;
}

#aircraft_name_css {
    font-size: 30px;
    line-height: 25px;
    white-space: nowrap;
}

#modal3_title {
    font-size: 30px;
    text-decoration: bold;
    line-height: 40px;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 2;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 2% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    height: 80%
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 10%;
}

.settingslogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 2%;
}

.settingstext {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.home_table {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#home_page {
    overflow: hidden;
}

#settings_page {
    overflow: hidden;
}

#settingstext>table {
    margin: auto;
}

#external_mode_button {
    position: relative;
    left: 50%;
    right: 50%;
    background-color: white;
}

#settingstext>table>tbody>tr>td {
    padding: 15px;
}

#settingstext>table:nth-child(1)>tbody>tr:nth-child(3)>td {
    position: relative;
    top: 0;
    left: -25%;
}

#settingstext>table:nth-child(1)>tbody>tr:nth-child(3)>td {
    position: relative;
    top: 0;
    left: -25%;
}

#home_page>table>tbody>tr>td>img {
    width: 100%;
}

#arrivals {
    margin: auto;
    width: fit-content;
    display: inline-table;
    padding: 5px;
}

#departures {
    margin: auto;
    width: fit-content;
    display: inline-table;
    padding: 5px;
}

#sch-arrivals {
    margin: auto;
    width: fit-content;
    display: inline-table;
    padding: 5px;
}

#sch-departures {
    margin: auto;
    width: fit-content;
    display: inline-table;
    padding: 5px;
}

.airportBoard {
    border: white solid 2px;
}

#aircraft_image1 {
    width: 100%;
}

#aircraft_image2 {
    width: 24.5%;
    position: absolute;
    left: 5%;
    bottom: 12%;
}

#aircraft_image3 {
    width: 24.5%;
    position: absolute;
    left: 30.5%;
    bottom: 12%;
}

#aircraft_image4 {
    width: 24.5%;
    position: absolute;
    left: 56%;
    bottom: 12%;
}

#itinerary_loading {
    width: 100%;
    position: fixed
}

#flight_progress_circle {
    position: absolute;
    right: 25%;
    top: 10%;
}

#flight_progress_title {
    position: absolute;
    right: 5%;
    top: 22%;
    font-size: 18px;
}

#flight_progress_elapsed_title {
    font-size: 18px;
    position: absolute;
    top: 40%;
    left: 68%;
}

#flight_progress_remaining_title {
    font-size: 18px;
    position: absolute;
    top: 53%;
    left: 67%;
}

#flight_progress_time_title {
    font-size: 18px;
    position: absolute;
    top: 66%;
    left: 67%;
}

#flight_progress_elapsed_amount {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 45%;
    left: 64%;
}

#flight_progress_remaining_amount {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 58%;
    left: 64%;
}

#flight_progress_time_amount {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 71%;
    left: 64%;
}

#aircraft_name_title {
    font-size: 18px;
    position: absolute;
    top: 20%;
    left: 66%;
}

#aircraft_model_title {
    font-size: 18px;
    position: absolute;
    top: 33%;
    left: 66%;
}

#aircraft_registration_title {
    font-size: 18px;
    position: absolute;
    top: 46%;
    left: 64%;
}

#aircraft_name_addl {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 25%;
    left: 67%;
}

#aircraft_model {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 38%;
    left: 69.5%;
}

#aircraft_registration {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 51%;
    left: 69%;
}

#external_connected {
    width: 100%;
    height: 100%;
    background-color: black;
    color: red;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    
}

#external_title {
    animation: blinkingText 1s infinite;
    position: absolute;
    top: 55%;
    left: 22%;
}

#external_image {
    animation: blinkingText 1s infinite;
    position: absolute;
    top: 30%;
    left: 43%;
}

@keyframes blinkingText {
   
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }